<h1>Reading Management</h1>
<%= link_to 'Add New', new_book_path, class: 'header-menu' %>
<ul>
<% @books.each do |book| %>
<li><%= link_to book.title, book_path(book) %>
<%= link_to '[edit]', edit_book_path(book), class: 'command' %>
<%= link_to "delete", book_path(book), 
data: { turbo_method: :delete, turbo_confirm: 'Sure?'}%>
</li>
<% end %>
</ul>